# i3blocks config file
full_text=
separator=false
separator_block_width=9
markup=pango
align=center

[mediaplayer]
command=${HOME}/.dotfiles/i3blocks/scripts/mediaplayer.sh
interval=once
signal=11

[separator]

[volume]
command=/usr/lib/i3blocks/$BLOCK_NAME
label=
instance=Master
interval=once
signal=10

[separator]

[ethernet]
command=${HOME}/.dotfiles/i3blocks/scripts/ethernet.sh
instance=enp3s0
interval=60

[separator]

[time]
label=
command=date '+%a %B %d, %I:%M %p'
interval=60
