[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/cscope_maps"]
	path = vim/bundle/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/tmux-navigator"]
	path = vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "xconfig/modules/urxvt-perls"]
	path = xconfig/modules/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/airlines_themes"]
	path = vim/bundle/airlines_themes
	url = https://github.com/vim-airline/vim-airline-themes.git
