configuration {
    cycle: true;
    display-drun: "Activate";
    display-run: "Execute";
    display-window: "Window";
    hide-scrollbar: true;
    icon-theme: "Numix";
    m: "-4";
    sidebar-mode: false;
}

@theme "olive"
