[Unit]
Description=i3lock before suspend
Before=suspend.target
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%I/.dotfiles/scripts/lockscreen.sh
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
