tab-item {
    font-family: "UbuntuSans Nerd Font Propo";
    font-size: 13px;
    font-weight: 500;
  	--tab-size: 2.7em !important;
}

tab-label {
    padding: 1em 0 !important
}

tab-item tab-item-substance {
    background-color: #cce7de;
    box-shadow: none;
}

tab-item.active tab-item-substance {
    background-color: white;
}

tab-item.active .label-content {
    font-weight: bold;
}

tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active .contextual-identity-marker {
  color: black;
}

/* Less visible tab dividers. 
   A black border with a very low alpha slightly darkens any color. */
tab-item-substance {
    border: solid 1px #cccccc;
}

.contextual-identity-marker {
    top: 0;
    bottom: 0;
}

:root {
    --shadow-color: rgba(0, 0, 0, 0);
}

/* change the base box to layout position:absolute box, from the root container box to the tab item */
:root.group-tab li {
    position: absolute;
}

:root.sidebar #background {
  background: #cce7de;
}

.newtab-button-box {
    display: none;
}

#tabbar {
    bottom: 0 !important; /* Eliminate dead space on bottom */
}

tab-item tab-closebox {
    display: none;
}

tab-item:not(.faviconized):not(.loading) tab-favicon {
    margin-right: 0.5em;
    margin-left: 0.1em;
}

tab-item tab-item-substance:hover {
    background: #eeeeee !important;
    opacity: 1;
}
