/*
 * Use the browser toolbox to inspect Firefox's UI
 * https://firefox-source-docs.mozilla.org/devtools-user/browser_toolbox/index.html
 */

* {
    font-family: "{{term_font_family}}";
    font-size: 11px;
    font-weight: 500;
    border-radius: 0px !important;
    --urlbar-margin-inline: 0px;
}

#TabsToolbar {
    visibility: collapse !important;
}

#sidebar-splitter {
    background-color: {{green_light}} !important;
    border: 0px !important;
    width: 1px !important;
}

#sidebar-header {
    display: none;
}

/* Minimize fullscreen transition time */
#navigator-toolbox[fullscreenShouldAnimate] {
    transition: 0ms !important;
}

/* force popup menu to use light theme */
:root, menupopup {
    color-scheme: light !important;
}

#navigator-toolbox {
    --chrome-content-separator-color: {{ui_primary}} !important;
}

#nav-bar {
    border-top: 0px !important;
}

.browser-toolbar {
    background-color: {{ui_primary}} !important;
}

.toolbarbutton-animatable-box, .toolbarbutton-1 {
    color: {{white}} !important;
    fill: {{white}} !important;
}

.urlbar {
    color: {{black}} !important;
}

#urlbar-background {
    background-color: {{white}} !important;
}

#urlbar-container[breakout] {
    min-height: 0px !important;
}
