/*
 * Use the browser toolbox to inspect Firefox's UI
 * https://firefox-source-docs.mozilla.org/devtools-user/browser_toolbox/index.html
 *
 * To help debug menu popups, set ui.popup.disable_autohide=false in about:config
 */

* {
    font-family: "{{firefox_font}}";
    font-size: 12px;
    font-weight: 500;
    border-radius: 0px !important;
    --urlbar-margin-inline: 0.4em;
    --toolbar-field-color: {{black}};
    --toolbar-field-focus-background-color: {{black}};
    --toolbar-field-focus-color: {{black}};

    /* url bar background colors */
    --toolbar-field-background-color-focus: {{white}};
    --toolbar-field-background-color: {{white}};

    /* url bar text colors */
    --toolbar-field-text-color-focus: {{black}};
    --toolbar-field-text-color: {{black}};

    /* toolbar button text color */
    --toolbar-text-color: {{black}};
    --panel-box-shadow-margin: 0px;

    /* url bar badges (e.g. search badge) background color */
    --urlbar-box-background-color: {{white}};
}

::selection {
    background-color: {{blue_light}};
    color: {{black}};
}

#TabsToolbar {
    visibility: collapse !important;
}

#sidebar-splitter {
    background-color: {{ui_accent}} !important;
    border: 0px !important;
    width: 1px !important;
    min-width: 1px !important;
}

#sidebar-header {
    display: none;
}

/* Minimize fullscreen transition time */
#navigator-toolbox[fullscreenShouldAnimate] {
    transition: 0ms !important;
}

/* force popup menu to use light theme */
:root, menupopup {
    color-scheme: light !important;
}

#downloadsPanel-mainView {
    padding: 0.6em !important;
}

#navigator-toolbox {
    --chrome-content-separator-color: {{ui_accent}} !important;
    padding: 0.4em;
    background-color: {{ui_accent}};
}

#nav-bar {
    border-top: 0px !important;
}

.browser-toolbar {
    background-color: {{ui_accent}} !important;
}

#urlbar-container[breakout] {
    min-height: 0px !important;
}
