/*
 * Use the browser toolbox to inspect Firefox's UI
 * https://firefox-source-docs.mozilla.org/devtools-user/browser_toolbox/index.html
 *
 * To help debug menu popups, set ui.popup.disable_autohide=false in about:config
 */

* {
    font-family: "{{firefox_font}}";
    font-size: 12px;
    font-weight: 500;
    border-radius: 0px !important;
    --urlbar-margin-inline: 0px;
    --toolbar-field-color: {{black}};
    --toolbar-field-focus-background-color: {{white}};
    --toolbar-field-focus-color: {{black}};
    --panel-box-shadow-margin: 0px;
}

#TabsToolbar {
    visibility: collapse !important;
}

#sidebar-splitter {
    background-color: {{firefox_main_color}} !important;
    border: 0px !important;
    width: 1px !important;
    min-width: 1px !important;
}

#sidebar-header {
    display: none;
}

/* Minimize fullscreen transition time */
#navigator-toolbox[fullscreenShouldAnimate] {
    transition: 0ms !important;
}

/* force popup menu to use light theme */
:root, menupopup {
    color-scheme: light !important;
}

#downloadsPanel-mainView {
    padding: 0.6em !important;
}

#navigator-toolbox {
    --chrome-content-separator-color: {{firefox_main_color}} !important;
    border-bottom: 0px !important;
}

#nav-bar {
    border-top: 0px !important;
}

.browser-toolbar {
    background-color: {{firefox_main_color}} !important;
}

.toolbarbutton-animatable-box, .toolbarbutton-1 {
    color: {{black}} !important;
    fill: {{black}} !important;
}

.urlbar, .urlbar-input {
    color: {{black}} !important;
    fill: {{black}} !important;
}

#urlbar-background {
    background-color: {{firefox_main_color}} !important;
}

#urlbar-container[breakout] {
    min-height: 0px !important;
}
