apz.gtk.kinetic_scroll.enabled                      = false
browser.autofocus                                   = false
browser.formfill.enable                             = false
browser.fullscreen.autohide                         = true
browser.tabs.closeWindowWithLastTab                 = false
browser.tabs.insertAfterCurrent                     = true
browser.urlbar.doubleClickSelectsAll                = false
full-screen-api.warning.timeout                     = 0
gfx.webrender.all                                   = true
mousewheel.default.delta_multiplier_y               = 200
toolkit.legacyUserProfileCustomizations.stylesheets = true
browser.urlbar.resultMenu.keyboardAccessible        = false // make <tab> skip over the menu button in the Firefox Suggest drop down items
