browser.tabs.closeWindowWithLastTab                 = false
browser.tabs.insertAfterCurrent                     = true
browser.urlbar.doubleClickSelectsAll                = false
full-screen-api.warning.timeout                     = 0
gfx.webrender.all                                   = true
mousewheel.default.delta_multiplier_y               = 200
toolkit.legacyUserProfileCustomizations.stylesheets = true
