:root {
    --tridactyl-fg: {{black_almost}};
    --tridactyl-bg: {{white}};
    --tridactyl-url-fg: {{magenta}};
    --tridactyl-url-bg: {{white}};
    --tridactyl-highlight-box-bg: {{ui_accent}};
    --tridactyl-highlight-box-fg: {{ui_text_accent}};

    /* Hint character tags */
    --tridactyl-hintspan-fg: {{ui_text_accent}} !important;
    --tridactyl-hintspan-bg: {{green_bright}} !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

#command-line-holder {
    order: 1;
    border: 2px solid {{ui_accent}};
    color: var(--tridactyl-bg);
}

#tridactyl-input {
    padding: 1rem;
    color: var(--tridactyl-fg);
    width: 90%;
    font-size: 0.8rem;
    line-height: 0.5;
    background: var(--tridactyl-bg);
    padding-left: unset;
    padding: 0.5rem;
}

#completions table {
    font-size: 0.8rem;
    border-spacing: 0;
    table-layout: fixed;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#completions > div {
    max-height: calc(20 * var(--option-height));
    min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

#completions {
    --option-height: 1.4em;
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    font-size: unset;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 1;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {
    max-height: unset;
    min-height: unset;
}

#completions .HistoryCompletionSource table {
    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {
    display: none;
}

#completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

#completions table tr .title {
    width: 50%;
}

#completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {
    background: unset;
    border-bottom: unset;
    padding: 0rem !important;
    padding-left: unset;
    padding-bottom: 0rem;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px {{ui_accent}} solid !important;
    font-size: 8pt !important;
    padding: 0.8ex !important;
}

#completions .focused {
    background: {{ui_accent}};
    color: {{ui_text_accent}};
}

#completions .focused .url {
    background: {{ui_accent}};
    color: {{ui_text_accent}};
}
/* #Ocean-normal { */
/*  border-color: green !important; */
/* } */

/* #Ocean-insert { */
/*  border-color: yellow !important; */
/* } */
